.app-notification {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 12px;
  background-color: var(--wire-background-inverse);
  box-shadow: 0 2px 16px 0 var(--background-fade-16);
  gap: 12px;

  &__content {
    color: var(--white);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-lg);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background: transparent;
  }

  &__icon {
    fill: var(--white);
  }
}

[data-sonner-toaster] {
  display: flex;
  align-items: center;
  justify-content: center;
}
